<%= link_to "Register Agent",new_admin_user_path(role: "AGENT"), class: "btn btn-primary" if @role == "AGENT"%>

<div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.1s;">
  <div class="hpanel">
    <div class="panel-heading">
    </div>
    <div class="panel-body" style="display: block;">
      <div class="table-responsive">
        <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" id="agent_list_table">
          <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Cell Phone</th>
                <th> Email</th>
                <th> Office Phone </th>
                <th> Associated Agency </th>
                <th> License Number</th>
                <th> Status</th>
                <th id="data-colspan"> <center>Action</center></th>
                <th class="hide_dt_column" style="display:none"><center>Action</center></th>
            </tr>
          </thead>
          <tbody>
            <%@users.each do |user|%>
              <tr>
                <td><%= user.f_name.present? ? user.f_name : "-" %></td>
                <td><%= user.l_name.present? ? user.l_name : "-" %></td>
                <td><%= user.cell_phone.present? ? user.cell_phone : "-" %></td>
                <td><%= user.email.present? ? user.email : "-" %></td>


                <% if user.agent_info.present? %>
                  <td><%= user.agent_info && user.agent_info.office_phone.present? ? user.agent_info.office_phone : "-" %></td>
                  <td><%= user.agent_info && user.agent_info.asso_agency.present? ? user.agent_info.asso_agency : "-"  %></td>
                  <td><%= user.agent_info && user.agent_info.license_no.present? ? user.agent_info.license_no : "-"  %></td>
                <% else %>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                <%end %>
                <%if user.agent_info && user.agent_info.is_enable%>
                <td><%= link_to "Disable",admin_login_permission_path(id: user.id), method: :post%></td>
                <%else%>
                <td><%= link_to "Enable",admin_login_permission_path(id: user.id),method: :post%></td>
                <%end%>
                <td><%= link_to "Edit", edit_admin_user_path(id: user.id)%></td>
                <td><%= link_to "Delete", admin_user_path(id: user.id), method: :delete, data: { confirm: 'Are you sure?' }%></td>
              </tr>
            <%end%>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
