<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="ttl-text title-font text-center mrg-btm20"> Edit Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="popup-form">
    <%= form_for(@beacon, :url => admin_beacon_path,method: :patch,:html => {:id => "beacon_edit_form",:name => "beacon_edit_form"}) do |f|%>
    <div class="col-md-6 col-md-push-3">
      <div class="form-group">
        <label for="Name" class="control-label">UUID</label>
          <%= f.text_field :uuid,:class => "form-control", :placeholder => "Enter UUID"%>
      </div>
      <div class="form-group">
        <label for="Name" class="control-label">Label</label>
          <%= f.select :name,options_for_select(['Home','Kitchen','Living Room','Bedroom','Bathroom','WildCard'],@beacon.name),{:prompt => "Select Any"},{:class => "form-control"}%>
      </div>
      <div class="form-group">
        <label for="Agent" class="control-label">Agent Email</label>
          <%= f.select :user_id, options_for_select(@agents.collect{|a| ["#{a.email}", a.id]},@beacon.user_id),{:prompt => "Select Agent"},{:class => "form-control select2"} %>
      </div>
      <div class="form-group">
        <label for="Name" class="control-label">Date</label>
        <div class='input-group' id='datetimepicker1'>
          <%= f.text_field :date,:class => "form-control", :placeholder => "Enter Date"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Name" class="control-label">Description</label>
          <%= f.text_area :description,:class => "form-control", :placeholder => "Enter Description"%>
      </div>
    </div>
    <div class="clearfix"></div>
    <%= hidden_field_tag :id, @beacon.id %>
    <%= hidden_field_tag :deattach, false %>
    <div class="col-md-6 col-md-push-3">
      <%= f.submit "Update",:id => "submit_button",:class => "btn btn-popup title-font btn-lg btn-block", data: { disable_with: "Processing..." },style: "margin-bottom: 10%;"%>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-md-push-3">
      <%= link_to 'Cancel',:back , class:"btn btn-default title-font btn-lg btn-block",data: { no_turbolink: true }%>
    </div>
    <% end %>
   </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {

   $('#datetimepicker1').datetimepicker({
      format: 'MM/DD/YYYY'
   });
  });

  $('#select2-beacon_user_id-container').change(function(){
    alert("asdasdasd");
  });
  $(document).ready(function(){
    $('.select2').select2({
      theme: "bootstrap",
    }).on("change", function(e) {
      if ($('.select2').val() != '<%=@beacon.user_id%>')
      {
        var r = confirm("This changes will deattach this beacon to it's property.");
        if (r == true) {
          $('#deattach').val(true);
        } else {
          $('.select2').val('<%=@beacon.user_id%>').change();
          $('#deattach').val(false);
        }
      }
      else
      {
        $('#deattach').val(false);
      }
      });
    $("form").bootstrapValidator({
      message : "This value is not valid",
      feedbackIcons : {
        valid : "glyphicon glyphicon-ok error_icon_position",
        invalid : "glyphicon glyphicon-remove error_icon_position",
        validating : "glyphicon glyphicon-refresh error_icon_position"
      },
      fields : {
        "beacon[uuid]" : {
          validators: {
            notEmpty : {
              message : "UUID is required."
            }
          }
        },
        "beacon[name]" : {
          validators: {
            notEmpty : {
              message : "bleapp label is required."
            }
          }
        },
        "beacon[user_id]" : {
          validators: {
            notEmpty : {
              message : "Agent email is required."
            }
          }
        }
      }
    });
  });
</script>
