<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="ttl-text title-font text-center mrg-btm20"> Add bleapp</h2>
    </div>
  </div>
  <div class="row">
    <div class="popup-form">
    <%= form_for(:beacon, :url => admin_beacons_path,method: :post,:html => {:id => "beacon_edit_form",:name => "beacon_edit_form"}) do |f|%>
    <div class="col-md-6 col-md-push-3">
      <div class="form-group">
        <label for="Name" class="control-label">UUID</label>
          <%= f.text_field :uuid,:class => "form-control", :placeholder => "Enter UUID"%>
        <span>Ex. 8character-4character-4character-4character-12character</span>
      </div>
      <div class="form-group">
        <label for="Name" class="control-label">Label</label>
          <%= f.select :name,options_for_select(['Home','Kitchen','Living Room','Bedroom','Bathroom','WildCard']),{:prompt => "Select Any"},{:class => "form-control"}%>
      </div>
      <div class="form-group">
        <label for="Agent" class="control-label">Agent Email</label>
          <%= f.select :user_id, options_for_select(@agents.map{|a| ["#{a.email}", a.id]}),{:prompt => "Select Agent"},{:class => "form-control select2 select2-offscreen"} %>
      </div>
      <div class="form-group">
        <label for="Name" class="control-label">Date</label>
        <div class='input-group' id='datetimepicker1'>
          <%= f.text_field :date,:class => "form-control", :placeholder => "Enter Date"%>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Name" class="control-label">Description</label>
          <%= f.text_area :description,:class => "form-control", :placeholder => "Enter Description"%>
      </div>
    </div>
    <div class="clearfix"></div>
    <%= f.hidden_field :is_filter, value: false%>
    <div class="col-md-6 col-md-push-3">
      <%= f.submit "Create",:id => "submit_button",:class => "btn btn-popup title-font btn-lg btn-block", data: { disable_with: "Processing..." },style: "margin-bottom: 10%;"%>
    </div>
    <% end %>
   </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
   $('#datetimepicker1').datetimepicker({
      format: 'MM/DD/YYYY'
   });
  });

  $(document).ready(function(){
    $('.select2').select2({
      theme: "bootstrap"
    });

    $(document).bind('page:before-unload', function() {
      if (typeof(CKEDITOR) != "undefined"){
        for(name in CKEDITOR.instances){
            CKEDITOR.instances[name].destroy(true);
        }
      }
    });

    $("form").bootstrapValidator({
      message : "This value is not valid",
      feedbackIcons : {
        valid : "glyphicon glyphicon-ok error_icon_position",
        invalid : "glyphicon glyphicon-remove error_icon_position",
        validating : "glyphicon glyphicon-refresh error_icon_position"
      },
      fields : {
        "beacon[uuid]" : {
          validators: {
            notEmpty : {
              message : "UUID is required."
            }
          }
        },
        "beacon[name]" : {
          validators: {
            notEmpty : {
              message : "bleapp label is required."
            }
          }
        },
        "beacon[user_id]" : {
          validators: {
            notEmpty : {
              message : "Agent email is required."
            }
          }
        }
      }
    });
  });
</script>
